html,
body,
:root {
	background-color: black;
	/* background-image: url("./public/background.jpg"); */
	font-family: "JetBrains Mono", monospace;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	margin: 0px;
}

* {
	box-sizing: border-box;
}

.container {
	margin: 0;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

body > div {
	overflow: hidden;
	padding: 2em;
	height: 100%;
	width: 100%;
	h2 {
		padding: 2em 0px;
	}
}

.home_page {
	justify-content: center;
	flex-direction: column;
	display: flex;

	.welcome_text {
		justify-content: center;
		align-items: center;
		text-align: center;
		color: white;
		display: flex;
		margin: 0px;
		width: 100%;
		flex: 1;
	}

	.main_menu {
		justify-content: space-evenly;
		flex-direction: column;
		display: flex;
		padding: 0px;
		margin: 0px;
		height: 80%;
		width: 100%;
	}
}

.settings_page {
	color: white;
	.PageTitle {
		margin: 20px auto;
		font-size: 35px;
	}

	form {
		div {
			height: fit-content;

			h2 {
				padding: 20px 0px 10px;
				text-align: start;
				width: 100%;
				margin: 0px;
			}

			input {
				height: 95%;
			}
			.FormRow {
				justify-content: space-between;
				align-content: center;
				padding: 5px 0px;
				display: flex;
				width: 100%;

				p {
					margin: 0px;
				}

				/* &:nth-of-type(2n) {
					background-color: #89e5ff6b;
					color: #3a0ca3;
				} */
			}
		}
	}

	.button_container {
		justify-content: space-evenly;
		flex-direction: column;
		height: fit-content;
		padding: 50px 0px;
		display: flex;
		margin: 0px;
		width: 100%;
	}

	.Themed-Button {
		margin-bottom: 10px;
	}

	.reset_button {
		box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
			rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(85, 0, 0) 0 -3px 0 inset;
		background-color: brown;
		color: white;

		&:hover {
			box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
				rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(85, 0, 0) 0 -3px 0 inset;
			background-color: brown;
		}
	}
}

.LoadingPage {
	background-color: black;
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 0px;
	margin: 0px;
	width: 100%;

	img {
		height: 100px;
		width: auto;

		opacity: 1;
		animation-name: fadeInOpacity;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: 1.5s;
	}
}

.UpdatesPage,
.BackupsPage {
	justify-content: center;
	flex-direction: column;
	display: flex;

	.page_title {
		justify-content: center;
		height: fit-content;
		align-items: center;
		text-align: center;
		color: white;
		display: flex;
		margin: 0px;
		width: 100%;
	}

	.button_container {
		justify-content: space-evenly;
		flex-direction: column;
		display: flex;
		padding: 100px 0px;
		margin: 0px;
		height: 80%;
		width: 100%;
	}

	.Themed-Button {
		margin-bottom: 20px;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.Themed-Button {
	align-items: center;
	appearance: none;
	background-color: #fcfcfd;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395a;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono", monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 18px;
}

.Themed-Button:focus {
	box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.Themed-Button:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	transform: translateY(-2px);
}

.Themed-Button:active {
	box-shadow: #d6d6e7 0 3px 7px inset;
	transform: translateY(2px);
}
